* {
    margin: 0;
}

body {
    background-color: #000000;
    color: white;
}

span {
    color: #1B4433;
    color: #3FA387;
}

a {
    text-decoration: none;
}

#nav-container {
    /* border: 2px solid whitesmoke; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
    height: 10vh;
    padding-top: 15px;
    font-size: 1.3rem;
    font-family: "Libre Baskerville", serif;
    font-style: normal;
    /* gap: 50px; */
}

.common-nav {
    flex: 0;
}

.logo {
    /* border: 2px solid blue; */
    flex-grow: 0;
    flex-shrink: 0;
}

.navigation {
    /* border: 2px solid green; */
    flex-grow: 0;
    flex-shrink: 0;
    /* flex: 1; */
    text-align: center;
    flex-basis: 900px;
}

.navigation > nav li {
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}

.navigation > nav li a {
    color: white;
    text-decoration: none;
}

.hire-me {
    /* border: 2px solid yellow; */
    border-radius: 2em;
    background-color: #1C1C1C;
    flex-grow: 0;
    flex-shrink: 0;
    /* flex: 1; */
    text-align: center;
    padding: 12px 30px;
    flex-basis: 100px;
}

.hire-me > p {
    color: black;
}

/*--------------------------------------------------------------------------*/

#second-container {
    /* border: 2px solid red; */
    font-family: "Libre Baskerville", serif;
    display: inline-flex;
    flex-flow: row nowrap;
    /* justify-content: space-between; */
    /* align-content: center; */
    height: 80vh;
    width: 95%;
    /* padding-top: 100px;
    padding-left: 40px; */
    padding: 40px 20px;
    margin-bottom: 30px;
}

.sec-section1 {
    /* border: 2px solid green; */
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    flex: 1;
    align-self: flex-start;
    text-align: left;
    padding-left: 25px;
}

.sec-section1 > .sec-profile {
    /* border: 2px solid purple; */
    padding-bottom: 40px;
    font-size: 2rem;
}

.sec-section1 .sec-description {
    /* border: 1px solid coral; */
    padding-bottom: 30px;
    color: #3FA387;
}

.sec-section1 .sec-contact > button {
    background-color:  #7FE85C;
    border: none;
    border-radius: 2.2em;
    padding: 15px 25px;
}

.sec-section1 .role {
    padding-top: 40px;
}

.sec-section2 {
    /* border: 2px solid yellow; */
    flex: 1;
    /* padding-left: 70px; */
}

.sec-section2 .sec-image-george img {
    border: 1px solid #7FE85C;
    border-radius: 1.5em;
    width: 80%;
    height: 60vh;
    margin-left: 50px;
    object-fit: contain;
}

.sec-section1, .sec-section2 {
    padding-top: 50px;
}

/*-------------------------------------------------------------------------------------------------*/

#third-container {
    /* border: 2px solid red; */
    font-family: "Libre Baskerville", serif;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px 40px;
    /* height: 40vh; */
    margin-bottom: 150px;
}

.common-third {
    /* border: 2px solid blue; */
    /* flex: 1; */
}

.third-about-me {
    flex: 1;
}

.third-about-me h3 {
    /* border: 2px solid purple; */
    color: #719366;
    margin-bottom: 30px;
}

.i-can-deliver {
    /* border: 2px solid blue; */
    font-size: 2.8rem;
}

.third-about-me p {
    /* border: 2px solid yellow; */
    margin-bottom: 40px;
}

.third-image {
    /* border: 2px solid purple; */
    align-self: center;
    margin-right: 250px;
}

.know-more {
    background-color: black;
    border: 1.5px solid #7FE85C;
    border-radius: 1.5rem;
    color:#7FE85C;
    padding: 15px 30px;
    text-transform: uppercase;
}

/*--------------------------------------------------------------------------*/

#forth-container {
    font-family: "Libre Baskerville", serif;
    font-weight: normal;
    background-color: white;
    /* border: 2px solid red; */
    color: black;
    display: flex;
    padding: 70px 40px;
    margin-bottom: 100px;
}

.common-forth {
    /* border: 2px solid blue; */
    flex: 1;
}

.forth-text {
    /* border: 2px solid purple; */
    /* align-self: center; */
    font-size: 1.5rem;
    padding: 30px 0px;
    text-align: left;
}

.forth-text .forth-120, .forth-76, .forth-8 {
    /* border: 2px solid blue; */
    font-size: 3rem;
    float: left;
    padding-top: 15px;
    padding-right: 80px;
    width: 100px;
}

.forth-text p em {
    color: #7FE85C;
    font-weight: bolder;
}

/*--------------------------------------------------------------------------*/

#fifth-container {
    font-family: "Libre Baskerville", serif;
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 200px;
}

.fifth-content {
    /* border: 2px solid yellow; */
    flex: 1;
}

.fifth-content h3, .available-services {
    /* border: 2px solid blue; */
    text-align: center;
    padding-bottom: 30px;
}

.fifth-content h3 {
    color: #647C5C;
    font-weight: normal;
    font-size: 1.4rem;
}

.available-services {
    font-size: 3rem;
}

.fifth-description {
    color: #1E302A; 
    text-align: center;
}

/*--------------------------------------------------------------------------*/

#sixth-container {
    font-family: "Libre Baskerville", serif;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
}

.sixth-content {
    /* border: 2px solid blue; */
    border-radius: 0.7em;
    background-color: #1E1E1E;
    font-size: 0.8rem;
    text-align: left;
    position: relative;
    padding: 80px 20px;
    /* flex-basis: 200px; */
}

.sixth-content h3 {
    color: #F3F3F3;
    margin-bottom: 20px;
}

.sixth-content p {
    color: #959595;
}

.sixth-content img {
    /* border: 2px solid purple; */
    position: absolute;
    top: -130px;
    right: -1px;
}





















@media (min-width: 681px) and (max-width: 1024px) {
    body {
        /* background-color: blue; */
    }

    #second-container {
        margin-bottom: 200px;
    }
    
    #third-container {
        /* border: 2px solid blue; */
    }

    .third-image {
        display: none;
    }

    .forth-text .forth-120, .forth-76, .forth-8 {
    /* border: 2px solid blue; */
    font-size: 2.5rem;
    float: left;
    padding-top: 15px;
    padding-right: 90px;
    width: 50px;
    }
}


@media (max-width: 680px) {
    #nav-container {
        /* border: 2px solid blue; */
        display: flex;
        justify-content: flex-start;
        padding: 0;
        width: 100%;
    }
    .navigation {
        /* border: 1px solid red; */
        font-size: 0.9rem;
        flex: 1;
        padding-right: 50px;
    }

    .navigation nav ul li {
        /* border: 2px solid white; */
        padding: 5px;
    }

    .logo {
        display: none;
    }

    .hire-me {
        display: none;
    }

    #second-container {
        /* border: 2px solid red; */
        height: 100%;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        /* margin: 0; */
        width: 100%;
        margin-bottom: 100px;
    }

    .sec-section1 {
        /* border-right: 2px solid purple;
        border-left: 2px solid purple; */
        /* border: 2px solid yellow; */
        margin: 0;
        padding-top: 30px;
    }
    .sec-section1 h1 {
        font-size: 3rem;
        text-align: left;
    }

    .sec-section2 {
    border: 2px solid yellow;
    flex: 1;
    display: none;
    padding: 10px;
    }

    #third-container {
        /* border: 2px solid red; */
        width: 100%;
        margin-bottom: 100px;
    }

    .third-image {
        display: none;
    }

    #forth-container {
        /* border: 2px solid blue; */
        width: 100%;
    }

    .forth-text {
        display: none;
    }

    #fifth-container {
        width: 100%;
    }

    #sixth-container {
        /* border: 2px solid blue; */
        width: 100%;
        gap: 80px;
    }
    
    .pricing-container {
        /* border: 2px solid red; */
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        /* align-items: center; */
        /* align-content: center; */
        /* padding: 0px 100px; */
    }

    .pricing-plan {
        /* border: 2px solid blue; */
        /* max-width: 250px; */
        flex: 1;
    }

    .plan-price {
        /* font-size: 2rem; */
    }
} /* End of @max-width: 680px */









/* .pricing-container {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
    }

.pricing-container > .pricing-plan {
    border-radius: 2em;
    flex-basis: 200px;
    padding: 70px 40px;
}

.pricing-plan > div {
    padding-bottom: 1px;
}

.plan-title {
    font-size: 1.5rem;
}

.plan-price {
    color: #3FA387;
    font-size: 3rem;
    font-weight: bold;
    opacity: 1;
}

.basic {background-image: url(./asset/images/bg1.png); opacity: 1;}
.standard {background-image: url(./asset/images/bg2.png); opacity: 1;}
.premium {background-image: url(./asset/images/bg3.png); opacity: 1;}

.plan-button {
border: none;
border-radius: 0.4em;
background-color: lime;
padding: 10px;
}

.pricing-container .plan-features {
list-style: none;
}

li {
padding-bottom: 20px;
}

.pricing-container {
    display: none;
} 

sup {
    font-size: 0.6rem;
}

*/